@media screen and (min-width: 900px) {
    .header-content h1:nth-child(1) {
        display: none;
    }
    .dekstop-flex.header-info {
        display: grid;        
        grid-template-columns: none;

       
    }
    .dekstop-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 48px;
    }

    .container {
        max-width: 1140px;
        /* padding: 15px; */
    }
    .bonus-info .dekstop-flex img {
        height: 322px;
    }
    .header-content {
        border-radius: unset;
        padding-top: 195px;
    }
    .header-content:before {
        width: 100%;
        padding-top: 1064px;
        padding-bottom: 42px;
        padding-left: 4000px;
        top: -164%;
        position: absolute;
    }
    .range-img:nth-child(3).active {
        margin-bottom: 227px;
    }
    .blackhole {
        width: 449px;
        background: #2D2B74;
    }
    .enigma {
        width: 122%;
        height: 79px;
    }
    .header-content-right h1:nth-child(1),
    .footer-em br {
        display: block;
    }
    .range-img:nth-child(1).active { 
        margin-left: -59px;
    }
    .range-img:nth-child(2).active {
        margin-left: 247px;}

    .footer-em {
        display: table;
        margin: 0 auto;
    }

    .bonus-calc {
        margin-bottom: 50px;
        margin-top: 15px;
    }

    .btn-invite {
        width: unset;
        display: inline-block;
        padding: 15px 102px;
    }

    .header-info--muted br {
        display: block;
    }
    .header-info {
        margin-top: 40px;
    }
    .header-info .header-info--p {
        /* display: none; */
    }
.dekstop-flex:nth-child(2) .header-info .header-info--p {
    display: none;
}
.header-info--p {
    font-size: 21px;
line-height: 25px;

}
.dekstop-flex:nth-child(3) {
    margin-top: 80px;
    column-gap: 50px;
}


    .range-slider-interact {
        width: 280px;
        margin: 0 auto;
    }

    .header-rangeslider-imgs {
        height: 572px;
        margin-bottom: 65px;
    }

    .range-img-first {
        transform: scale(1);
    }

    .range-img-first,
    .range-img {
        width: 372px;

    }

    .bonus-info--list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 60px;
        font-size: 18px;
        margin-top: 40px;
    }
    .bonus-info {
        padding-top: 134px;
    }
    .bonus-info--content h2 {
        font-size: 30px;
    }

    .bonus-box {
        padding: 40px;
        margin: unset;
    }

    .bonus-info .btn-invite {
        margin: 55px auto 30px;
        display: table;
    }
    .friend {
        padding-bottom: 165px;
    }
    .bonus-box-wrapper img {
        width: 70%;
    }

    picture img {
        width: 100%;
    }
    .blackhole::before {
        position: absolute;
        content: '';
        width: 215px;
        height: 127px;
        background: #2D2B74;
        /* filter: blur(30px); */
        top: 0;
        z-index: 20;
        transform: translateY(-60%);
    }
    .range-img:nth-child(2).active {
        margin-left: 255px;
        z-index: 51;
        width: 70%;
    }
    .range-img:nth-child(1).active {
        width: 70%;
        margin-right: 155px;
    }
    .range-img:nth-child(4).active {
        z-index: 9;
        width: 50%;
        margin-left: 305px;
        margin-bottom: 200px;
    }
    
    .range-img:nth-child(3).active {
        margin-bottom: 120px;
        z-index: 9;
        width: 80%;
    }
    .range-img:nth-child(5).active {
        margin-bottom: 200px;
        margin-right: 310px;
        /* width: 50%; */
        z-index: 9;
    }
    .range-img:nth-child(6).active {
        margin-bottom: 380px;
        margin-right: 100px;
        z-index: 4;
        /* width: 50%; */
    }
    .range-img:nth-child(7).active {
        margin-bottom: 380px;
        margin-left: 185px;
        z-index: 4;
        /* width: 40%; */
    }

}